*{
    padding: 0;
    margin: 0;
}

.reset-button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    text-transform: uppercase;
    font-family: Helvetica, serif;
    background-color: rgb(127, 255, 212);
    border-radius: 5px;
    cursor: pointer;
    border: none;
}

.reset-button:hover{
    background-color: rgb(136, 174, 216);
}


.container{
    display: flex;
    flex-wrap: wrap;
    margin: 10px auto;
}

.square{
    background-color:rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(69, 69, 69);
}
