*{
    padding: 0;
    margin: 0;
}

.container{
    display: flex;
    flex-wrap: wrap;
    margin: 20px auto;
}

.square{
    background-color:rgb(255, 255, 255);
    box-sizing: border-box;
    border: 1px solid rgb(69, 69, 69);
}
